{% extends 'blocks/extends.twig' %}

{% block content %}
    <h1>Каталог продукции</h1>
    <div class="catalog">
        {% for product in products %}
            <div class="product">
                <div class="product__image">
                    <img src="/f/images/products/{{ product.image }}" alt="{{ product.name }}">
                </div>
                <div class="product__name">{{ product.name }}</div>
                <div class="product__descr">{{ product.descr }}</div>
                <button class="product__button button button_fill button_color_blue button_size_s" data-product-id="{{ product.id }}">
                    {% include 'blocks/price.twig' with { price: product.price, isCurrency: 1 } %}
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block cart %}
    <div class="cart">
        <div class="cart__list">
            <button class="cart__close">×</button>
            <div class="cart__wrapper">
                <h1>Корзина</h1>
                <div class="cart-list">
                    <div class="cart-list__header">
                        <div class="cart-list__col cart-list__col_size_xl cart-list__col_product">Перечень товаров</div>
                        <div class="cart-list__col cart-list__col_size_m cart-list__col_right">Цена</div>
                        <div class="cart-list__col cart-list__col_size_m cart-list__col_center">Количество</div>
                        <div class="cart-list__col cart-list__col_size_m cart-list__col_right">Сумма</div>
                        <div class="cart-list__col cart-list__col_size_l">&nbsp;</div>
                    </div>
                        {#{% include 'blocks/cart-product.twig' with { id } %}#}
                    <script type="text/html">{% include 'blocks/cart-product.twig' %}</script>
                </div>
            </div>
        </div>
        <div class="cart__footer">
            <div class="cart-footer cart__wrapper">
                <div class="cart-footer__block cart-footer__block_sum">
                    {#<div class="cart-footer__sum cart-footer__sum_discount">#}
                        {#<div class="cart-sum cart-sum_active">#}
                            {#<div class="cart-sum__price">{% include 'blocks/price.twig' with { price: 27000, isCurrency: 1 } %}</div>#}
                            {#<div class="cart-sum__descr">Сумма со скидкой 5%</div>#}
                        {#</div>#}
                        {#<div class="cart-sum cart-sum_small">#}
                            {#<div class="cart-sum__price">{% include 'blocks/price.twig' with { price: 40000, isCurrency: 1 } %}</div>#}
                            {#<div class="cart-sum__descr">без скидки</div>#}
                        {#</div>#}
                    {#</div>#}
                    <div class="cart-footer__sum cart-footer__sum_original">
                        <div class="cart-sum cart-sum">
                            <div class="cart-sum__price">{% include 'blocks/price.twig' with { price: 27000, isCurrency: 1 } %}</div>
                            <div class="cart-sum__descr">Сумма заказа</div>
                        </div>
                    </div>
                </div>
                <div class="cart-footer__block cart-footer__block_submit">
                    <div>
                        <a href="" class="link link_pseudo">Продолжить покупки</a>&nbsp;или&nbsp;
                    </div>
                    <button class="button button_fill button_color_blue button_size_xl">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block store %}
    {% set productsMini = [] %}
    {% for item in products %}
        {% set productsMini = productsMini|merge([{
            id: item.id,
            name: item.name,
            price: item.price
    }   ]) %}
    {% endfor %}

    <script type="application/json" id="store">{{ ({ products: productsMini })|json_encode|raw }}</script>
{% endblock %}